<!--
<table class="headerMain">
    <tr>
        <td colspan="3"><hr /></td>
    </tr>
    <tr class="headerMainTr">
        <td width="25%" align="left" class="headerMainTdOneEm" height="30%">Kannababu Karri  - Version 1.9</td>
		<td width="50%" align="center" class="headerMainTd" height="30%">Angular-Microservices-ML Models Application</td>
		<td width="25%" align="right" class="headerMainTdOneEm" height="30%">
			<table class="headerMain" >
				<tr>
					<td width="70%" align="center">
						 @if (user) {
                            <b>User:</b> {{ user.userName }}&nbsp;&nbsp;<b>Role:</b> {{ user.role }}
                         }
					</td>
					<td width="30%" align="center">
						@if (user) {
                            <a href="#" (click)="logout()">Logout</a>
                        }
					</td>
				</tr>
			</table>
		</td>
    </tr>
    <tr>
        <td colspan="3"><hr /></td>
    </tr>
</table>
-->
<div class="headerMain">

    <!-- Header -->
    <div class="app-header">
        <!-- Left side: User & Version -->
        <div class="header-left">
            <span class="user-name">
                <i class="fa fa-user"></i>Kannababu Karri
            </span>
            <span class="version-badge">Version 1.10</span>
        </div>

        <!-- Center: App Title -->
        <div class="header-center">
            Angular-Microservices-ML Models Application
        </div>

        <!-- Right side: Role + Logout -->
        <div class="header-right">
            @if (user) {
                <span class="user-role"><b>Role:</b> {{ user.role }}</span>
                <a href="#" (click)="logout()">Logout</a>
            }
        </div>
    </div>
</div>
