<table class="headerMain">
    <tr>
        <td colspan="3"><hr /></td>
    </tr>
    <tr class="headerMainTr">
        <td width="25%" align="left" class="headerMainTdOneEm" height="30%">Kannababu Karri  - Version 1.5</td>
		<td width="50%" align="center" class="headerMainTd" height="30%">Angular-Microservices Application</td>
		<td width="25%" align="right" class="headerMainTdOneEm" height="30%">
			<table class="headerMain" >
				<tr>
					<td width="70%" align="center">
						 @if (user) {
                            <b>User:</b> {{ user.userName }}&nbsp;&nbsp;<b>Role:</b> {{ user.role }}
                         }
					</td>
					<td width="30%" align="center">
						@if (user) {
                            <a href="#" (click)="logout()">Logout</a>
                        }
					</td>
				</tr>
			</table>
		</td>
    </tr>
    <tr>
        <td colspan="3"><hr /></td>
    </tr>
</table>
