<p class="searchTitle">&nbsp;&nbsp;Angular-Microservices Application: Home</p>
<p class="searchTitle">&nbsp;</p>
<p class="searchTitle">&nbsp;&nbsp;Please click the links to go to the modules.</p>

<table class="il-home-table">
    <tr>
        <td width="50%" valign="top">
            <table class="il-home-table">
                <tr>
                    <td width="100%" colspan="2" style="color: red;"><strong>Payment Domain</strong></td>
                </tr>
                <tr>
                    <td width="10%" align="left">&nbsp;</td>
                    <td width="90%" align="left"><a routerLink="/paymentdomain/fraud-detection"><b>Fraud Detection AI Agents</b></a></td>
                </tr>
            </table>
        </td>
        <td width="50%" valign="top">
            <table class="il-home-table">
                <tr>
                    <td width="100%" colspan="2" align="left" style="color: red;"><strong>Healthcare Domain</strong></td>
                </tr>
                <!--
                <tr>
                    <td width="10%" align="left">&nbsp;</td>
                    <td width="90%" align="left"><a routerLink="/doctor-appointment"><b>Appointment Chatbot</b></a>&nbsp;&nbsp;(Orchestration & MCP Server)</td>
                </tr> -->
                <tr>
                    <td width="10%" align="left">&nbsp;</td>
                    <td width="90%" align="left"><a routerLink="/doctor-llm-appointment"><b>LLM Appointment Chatbot</b></a>&nbsp;&nbsp;(LLM Orchestration & MCP Server)</td>
                </tr> 
            </table>
        </td>
    </tr>
</table>

<table class="il-home-table">
    <tr>
        <td width="50%" valign="top">
            <table class="il-home-table">
                <tr>
                    <td width="100%" colspan="2" style="color: red;"><strong>Microservices</strong></td>
                </tr>
                <!--<tr>
                    <td width="10%" align="left">&nbsp;</td>
                    <td width="90%" align="left"><b>Login Details</b>&nbsp;&nbsp;<b>(User Microservice)</b></td>						
                </tr>-->
                <tr>
                    <td width="10%" align="left">&nbsp;</td>
                    <td width="90%" align="left"><a routerLink="/manufacturer"><b>Manufacturer Details</b></a>&nbsp;&nbsp;<b>(Microservice)</b></td>
                </tr>
                <tr>
                    <td width="10%" align="left">&nbsp;</td>
                    <td width="90%" align="left"><a routerLink="/circuitbreakerdemo"><b>Circuit Breaker Resilience4j Demo</b></a>&nbsp;&nbsp;<b>(Pattern Implementation)</b></td>				
                </tr>
                <tr>
                    <td width="10%" align="left">&nbsp;</td>
                    <td width="90%" align="left"><a routerLink="/product"><b>Product Details</b></a>&nbsp;&nbsp;<b>(Microservice)</b></td>
                </tr>
                <tr>
                    <td width="10%" align="left">&nbsp;</td>
                    <td width="90%" align="left"><a routerLink="/orderqty"><b>Order Details</b></a>&nbsp;&nbsp;<b>(Microservice)</b></td>	
                </tr>	
                <tr>
                    <td width="10%" align="left">&nbsp;</td>
                    <td width="90%" align="left"><a routerLink="/orderdocument"><b>MongoDB Details</b></a>&nbsp;&nbsp;<b>(Retrieved document(s) from the Mongo database)</b></td>				
                </tr>	
            </table>
        </td>		
        <td width="50%" valign="top">
            <table class="il-home-table">
                <tr>
                    <td width="100%" align="left" style="color: red;"><strong>AI-Powered Agents</strong></td>
                </tr>
                <tr>
                    <td style="width: 100%; 
                                text-align: left; 
                                padding: 8px; 
                                border: 1px solid #ccc; 
                                word-wrap: break-word; 
                                line-height: 1.5;
                                font-family: arial, sans-serif;
                            ">Designed and implemented an AI Agent system using Spring Boot microservices integrated with a Python-based AI models API service. 
                                                The platform processes large PDF documents, performs GMP regulatory compliance analysis using OpenAI (gpt-4o-mini), Ollama models, Vertex AI and generates 
                                                automated audit reports through RESTful communication. Created regulatory compliance dashboard.
                    </td>
                </tr>
                <!--
                <tr>
                    <td width="100%" align="left"><b>Only Display Regulatory Compliance</b>&nbsp;&nbsp;<b>(AI Agent->Spring Boot->Microservice->Python AI API Service)</b></td>			
                </tr> -->
                <tr>
                    <td width="100%" align="left"><a routerLink="/regulatorycompliance/rc-process"><b>Save/Display Regulatory Compliance</b></a>&nbsp;&nbsp;<b>(AI Agent->Microservice->Python LangChain API Service)</b></td>			
                </tr>
                <tr>
                    <td width="100%" align="left"><a routerLink="/regulatorycompliance/dashboard"><b>Regulatory Compliance Dashboard</b></a>&nbsp;&nbsp;<b>(Microservice)</b></td>			
                </tr>
               <tr>
                    <td width="100%" align="left"><a routerLink="/medirag/medirag-process"><b>Upload / View ChromaDB Details</b></a>&nbsp;&nbsp;<b>(AI Agent->Spring Boot Microservice->Python LangChain/RAG ChromaDB API Service)</b></td>			
                </tr>
                <tr>
                    <td width="100%" align="left"><a routerLink="/medirag/medirag-chatbot"><b>Chatbot with ChromaDB/RAG</b></a>&nbsp;&nbsp;<b>(AI Agent->Spring Boot Microservice->Python LangChain/RAG ChromaDB API Service)</b></td>			
                </tr>
                <tr>
                    <td width="100%" align="left"><a routerLink="/medirag/check-resume"><b>AI Check Resume</b></a>&nbsp;&nbsp;<b>(AI Agent->Spring Boot Microservice->Python OpenAI API Service)</b></td>			
                </tr>
                <tr>
                    <td width="100%" align="left"><a routerLink="/medirag/check-logs"><b>AI Check Logs</b></a>&nbsp;&nbsp;<b>(AI Agent->Spring Boot Microservice->Python OpenAI API Service)</b></td>			
                </tr>
            </table>
        </td>
    </tr>

</table>