<p class="searchTitle">&nbsp;&nbsp;Angular-Microservices Application: Home</p>
<p class="searchTitle">&nbsp;</p>
<p class="searchTitle">&nbsp;&nbsp;Please click the links to go to the modules.</p>

<table class="il-home-table">
    <tr>
        <td width="50%">
            <table class="il-home-table">
                <tr>
                    <td width="100%" colspan="2" style="color: red;"><strong>Microservices</strong></td>
                </tr>
                <tr>
                    <td width="10%" align="left">&nbsp;</td>
                    <td width="90%" align="left"><b>Login Details</b>&nbsp;&nbsp;<b>(User Microservice)</b></td>						
                </tr>
                <tr>
                    <td width="10%" align="left">&nbsp;</td>
                    <td width="90%" align="left"><a routerLink="/manufacturer"><b>Manufacturer Details</b></a>&nbsp;&nbsp;<b>(Microservice)</b></td>
                </tr>
                <tr>
                    <td width="10%" align="left">&nbsp;</td>
                    <td width="90%" align="left"><a routerLink="/product"><b>Product Details</b></a>&nbsp;&nbsp;<b>(Microservice)</b></td>
                </tr>
                <tr>
                    <td width="10%" align="left">&nbsp;</td>
                    <td width="90%" align="left"><a routerLink="/orderqty"><b>Order Details</b></a>&nbsp;&nbsp;<b>(Microservice)</b></td>	
                </tr>	
                <tr>
                    <td width="10%" align="left">&nbsp;</td>
                    <td width="90%" align="left"><a routerLink="/orderdocument"><b>MongoDB Details</b></a>&nbsp;&nbsp;<b>(Retrieved document(s) from the Mongo database)</b></td>				
                </tr>	
            </table>
        </td>		
        <td width="50%">
            <table class="il-home-table">
                <tr>
                    <td width="100%" align="left" style="color: red;"><strong>AI Agents</strong></td>
                </tr>
                <tr>
                    <td width="100%" align="left">Designed and implemented an AI Agent system using Spring Boot microservices integrated with a Python-based AI API service. 
                                                The platform processes large PDF documents, performs GMP regulatory compliance analysis using Ollama models, and generates 
                                                automated audit reports through RESTful communication. Created regulatory compliance dashboard.
                    </td>
                </tr>
                <tr>
                    <td width="100%" align="left"><b>Only Display Regulatory Compliance</b>&nbsp;&nbsp;<b>(AI Agent->Spring Boot->Microservice->Python AI API Service)</b></td>			
                </tr>
                <tr>
                    <td width="100%" align="left"><b>Save/Display Regulatory Compliance</b>&nbsp;&nbsp;<b>(AI Agent->Spring Boot->Microservice->Python AI API Service)</b></td>			
                </tr>
                <tr>
                    <td width="100%" align="left"><b>Regulatory Compliance Dashboard</b>&nbsp;&nbsp;<b>(Microservice)</b></td>			
                </tr>
            </table>
        </td>
    </tr>

</table>