<p class="searchTitle">&nbsp;&nbsp;Manufacturer Interface: Home</p>

<div *ngIf="errorMessage" class="error-msg" style="color:red;">
    &nbsp;&nbsp;<b>{{ errorMessage }}</b>
</div>

<div *ngIf="successMessage" style="color: green;">
    &nbsp;&nbsp;<b>{{ successMessage }}</b>
</div>

<p>&nbsp;&nbsp;
    <input *ngIf="isAdmin()" type="button" value="Add Manufacturer" (click)="jsManufacturerSubmit(baseUrlAdd)" />
    <input type="button" value="Return IL Home" (click)="jsManufacturerSubmit(baseUrlReturn)" />
</p>

<form [formGroup]="manufacturerForm" (ngSubmit)="searchManufacturer()">
    <table width="100%">			
        <tr>
            <td width="1%">&nbsp;</td>			
            <td width="20%" align="right"><b>Manufacturer Name:</b></td>
            <td width="30%" align="left">
                <input type="text" formControlName="mfgName" />
            </td>
            <td width="49%">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="4">&nbsp;</td>
        </tr>		
        <tr>
            <td>&nbsp;</td>			
            <td align="center" colspan="2">
                <input type="submit" value="Submit" />&nbsp;&nbsp;
                <input type="button" value="Cancel" (click)="jsManufacturerSubmit(baseUrlReturn)" />
            </td>
            <td>&nbsp;</td>
        </tr>				
        <tr>
            <td colspan="4"><hr /></td>
        </tr>	
    </table>

    <!-- Display search results -->
    <div *ngIf="manufacturers.length > 0">
        <p class="searchTitle">&nbsp;&nbsp;Manufacturer Search Results:</p>
        <table class="searchDetail">			
            <tr>				
                <th>Manufacturer name</th>
                <th>Address1</th>
                <th>Address2</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Zip Ext</th>
                <th *ngIf="isAdmin()">Update</th>
                <th *ngIf="isAdmin()">Delete</th>						
            </tr>
            <tr *ngFor="let m of manufacturers" class="detailData">
                <td class="center">{{ m.mfgName }}</td>
                <td class="leftNoBold">{{ m.address1 }}</td>
                <td class="leftNoBold">{{ m.address2 }}</td>
                <td class="leftNoBold">{{ m.city }}</td>
                <td class="leftNoBold">{{ m.state }}</td>
                <td class="leftNoBold">{{ m.zip }}</td>
                <td class="leftNoBold">{{ m.zipExt }}</td>
                <td class="leftNoBold" *ngIf="isAdmin()">
                    <button (click)="updateManufacturer(m.manufacturerId)">Update</button>
                </td>
                <td class="leftNoBold" *ngIf="isAdmin()">
                    <button (click)="deleteManufacturer(m.manufacturerId)">Delete</button>
                </td>
            </tr>       						
        </table>
    </div>
</form>